[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-tinymce = "*"
django = "==3.2.5"
django-environ = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
django-filter = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9.7"
